.padre-grande{
  height: 150vh;

}
.container1 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container1 .img1 {
  width: 100%;
  height: auto;
}

.btn1 {
  position: absolute;
  top: 3%;
  left: 84%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(154, 243, 191);
  color: black;
  font-size: 12px;
  padding: 7px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn2 {
  position: absolute;
  top: 6.5%;
  left: 82%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(214, 217, 228);
  color: black;
  font-size: 12px;
  padding: 7px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn3 {
  position: absolute;
  top: 6.5%;
  left: 84%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(242, 146, 146); 
  color: black;
  font-size: 12px;
  padding: 7px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container1 .btn1:hover {
  background-color: black;
}