
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*height: 100vh;*/
}

.imagen {
    width: 210px;
    height: 245px;

}

.boton {
    position: absolute;
  top: 45%;
  left: 60%;
}
